.home-hero {
  width: 100%;
  margin: 10 auto;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.card {
  background: var(--card-bg);
  border-radius: 12px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.week-progress {
  width: 100%;
  max-width: 920px; 
}
